@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: url(../public/bg.avif);
  /* ../public/bg.avif use this if not working */
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 6px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #1b1b1b;
  border-radius: 10px;
}